<div class="container">
    <div class="row">
        
        <div class="w-50 mx-auto formtag" style="">
            <h2 style="text-align: center">Reply</h2>
            <form action="/blog/<%= blog.slug %>/comments/<%= comment_id%>/replies
            	" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="reply[text]" placeholder="text">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg customBtn btn-block">Submit!</button>
                </div>
                <input class="form-control"  type="hidden" name="_csrf" value="<%= csrfToken%>">
            </form>
            <a href="/blog/" <%= blog.slug%>>Go Back</a>
        </div>
    </div>
</div>